# Archivos y directorios de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.env
.venv
env/
venv/

# Bases de datos (en este caso, SQLite)
*.db
instance/

# Archivos de migraciones (si no quieres compartirlos, aunque generalmente sí se incluyen)
migrations/

# Archivos de configuración local
*.cfg
*.ini

# Archivos de logs
*.log

# Archivos y carpetas de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Otros
.DS_Store
